<nav class="navbar navbar-expand-lg navbar-light  d-flex">
  <div class="container-fluid " >
    <a class="navbar-brand" style="font-size: 25px;" routerLink="/movies-collection"><strong>Movies Collection</strong></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <div class="d-flex" id="navbarSupportedContent">
      <!-- <form class="d-flex">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="form-control me-2" type="search" placeholder="Search favorite movies" aria-label="Search">
        <button class="btn btn-outline" type="submit"><strong>SEARCH</strong></button>
      </form> -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  d-flex"> 
        <li class="nav-item">
              <button class="nav-link btn btn-outline" aria-current="page" routerLink="/favorites"><strong>View Favorites</strong></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
